body {
  font-family: sans-serif;
  background: #F6FCF3;
}

p {
  color: #515151;
}

h1 {
  font-size: 64px;
  color: #515151;
}

h2 {
  font-size: 48px;
  color: #515151;
}

h3 {
  font-size: 32px;
  color: #515151;
}

.welcome {
  padding-bottom: 20px;
}
.card-title {
  text-align: center;
  margin-bottom: 45px;
  margin-top: 20px;
  color: #515151;
}

.card-text {
  font-size: 20px;
  text-align: center;
}

.card-footer {
  background: #AFDF98;
}

.card {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
}


.header {
  margin-bottom: 100px;
  padding: 20px 20px;
  background: #AFDF98;
  text-align: center;
}

.herocontainer {
    margin: 0 auto;
    width: 1500px;
    height: 500px;
    margin-bottom: 70px;
}


.hero img {
    float: right;
    margin-left: 50px;
}

.button {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.recipes {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 60px;
}

.recipessection {
  margin-bottom: 70px;
  background-color: #E7F4E1;
  height: 530px;
}
